version: 2.1

jobs:
  lint-test-build:
    docker:
      - image: backpackapp/build:v0.28.0
    steps:
      - checkout
      - restore_cache:
        keys:
            - cargo-v1-{{ checksum "Cargo.lock" }}
      - run:
          name: "Format rust code"
          command: "cargo fmt --all -- --check"
      - run:
          name: "Check rust code"
          command: "cargo clippy -- -D warnings --warn clippy::all -A clippy::result-large-err"
      - run:
          name: "Anchor tests"
          command: |
            yarn install
            solana-keygen new -s --no-bip39-passphrase
            anchor test -- --features local-testing,test-id
      - store_artifacts:
          path: /root/project/.anchor/program-logs
          destination: program-logs
      - run:
          name: "Build program"
          command: "anchor build && rm ./target/deploy/*.json && cd ./target/deploy && sha256sum * > sha256.txt"
      - store_artifacts:
          path: /root/project/target/deploy
          destination: bpf-programs
      - store_artifacts:
          path: /root/project/target/idl
          destination: idls
      - store_artifacts:
          path: /root/project/target/types
          destination: types
      - save_cache:
          key: cargo-v1-{{ checksum "Cargo.lock" }}
          paths:
            - ~/.cargo
workflows:
  build-test:
    jobs:
      - lint-test-build
